body{
    margin: 0;
    padding: 0%;
}
.header{
 height: 100vh;

 background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.1)),url(../images/AdobeStock_304300206.jpeg);

 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(9, 99, 99);
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 1px;
}
p{
    color:rgb(103, 184, 184);
    font-size: 25px;
    text-align: center;
}
.search-field{
height: 15px;
width: 200px;
border: olivedrab;
border-style: solid;
padding: 10px;
border-radius: 5px;
background-color: transparent;
text-align: center;
margin-top: 15%;
}
.srch-btn{
height: 35px;
width: 215px;
background-color: oldlace;
border-radius: 25px;
justify-content: center;
}
button.srch-btn{
    margin-top: 88px;
    text-align: center;
    justify-content: center;
}
input.search-field{
    text-decoration-color: aliceblue;
    color:white
}
div.form-box{
    display: block;
    text-align: center;
    justify-content: center;
}