body{
    margin: 0;
    padding: 0%;
}
.header{
 height: 100vh;

 background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.1)),url(../../assets/images/AdobeStock_304300206.jpeg);

 background-size: cover;
 background-position: center;
 text-align: center;

 /* display: flex; */
 justify-content: center;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(9, 99, 99);
    /* margin-top: 20px; */
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
}
p{
    color:rgb(103, 184, 184);

    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.search-field{

width: 300px;
border: none;
padding: 10px;
border-radius: 5px;
margin: auto;
text-align: center;
margin-top: 1%;
}
.srch-btn{

width: 150px;
background-color: oldlace;
border-radius: 25px;
margin: auto;
text-align: center;
}
button.srch-btn{
    margin-top: 88px;
    text-align: center;
}
input.search-field{
    text-decoration-color: aliceblue;
    color:rgb(103, 184, 184)}

div.form-box{
    display: block;
    text-align: center;
}

#results{
    display: flex;
    justify-content: space-around;
}

#output{
    width: 500px;
    background-color: wheat;
    text-align: center;
    color: rgb(9, 99, 99);
}

li{
    color: rgb(9, 99, 99);
    font-size: 25px;

}

#description{
    width: 500px;
    background-color: wheat;
    text-align: center;
}

img {
    width: 500px;
}

#btn{
    width: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font: bold;
    font-size: 25px;
}